/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

a {
  text-decoration: underline;
}

.navbar a, .table-of-contents a, .footer a, .menu a, header a, a.card, footer a {
  text-decoration: none;
}
/* .table-of-contents a {
  text-decoration: none;
} */


section.front-page {
  display: flex;
  padding-top: 15px;
}

@media (max-width: 996px) {
  section.front-page {
    flex-direction: column;
  }
}

[data-theme='dark'] .svg-icon {
  fill:white;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Josefin Sans', sans-serif;
  --ifm-navbar-background-color: #EAE0C1;
  --ifm-footer-background-color: #EAE0C1;
  --ifm-color-primary: #123b4f;
  --ifm-color-primary-dark: #103547;
  --ifm-color-primary-darker: #0f3243;
  --ifm-color-primary-darkest: #0d2937;
  --ifm-color-primary-light: #144157;
  --ifm-color-primary-lighter: #15445b;
  --ifm-color-primary-lightest: #174d67;
  --ifm-background-color: #f7f1e1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d9bd71;
  --ifm-color-primary-dark: #d2b157;
  --ifm-color-primary-darker: #cfab4a;
  --ifm-color-primary-darkest: #b69231;
  --ifm-color-primary-light: #e0c98b;
  --ifm-color-primary-lighter: #e3cf98;
  --ifm-color-primary-lightest: #eee1bf;
  --ifm-background-color: #123b4f;
  --ifm-navbar-background-color: #123b4f;
  --ifm-footer-background-color: #123b4f;
}

[data-theme='dark'] .hero--primary {
  background-color: #123b4f;
  color: white;
}