/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

body {
  font-size: 1.1em;
}

a {
  text-decoration: underline;
}

.navbar a, .table-of-contents a, .footer a, .menu a, header a, a.card, footer a {
  text-decoration: none;
}
/* .table-of-contents a {
  text-decoration: none;
} */


section.front-page {
  display: flex;
  padding-top: 15px;
}


.button--secondary {
  margin: 5px;
}


@media (max-width: 996px) {
  section.front-page {
    flex-direction: column;
  }
}

[data-theme='dark'] .svg-icon {
  fill:white;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-font-family-base: 'Josefin Sans', sans-serif;
  --ifm-navbar-background-color: #f8f9fa;
  --ifm-footer-background-color: #f8f9fa;
  --ifm-color-primary: #014347;
  --ifm-color-primary-dark: #014347;
  --ifm-color-primary-darker: #014347;
  --ifm-color-primary-darkest: #014347;
  --ifm-color-primary-light: #8bccb7;
  --ifm-color-primary-lighter: #8bccb7;
  --ifm-color-primary-lightest: #8bccb7;
  --ifm-background-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8bccb7;
  --ifm-color-primary-dark: #8bccb7;
  --ifm-color-primary-darker: #8bccb7;
  --ifm-color-primary-darkest: #8bccb7;
  --ifm-color-primary-light: #014347;
  --ifm-color-primary-lighter: #014347;
  --ifm-color-primary-lightest: #014347;
  --ifm-background-color: #014347;
  --ifm-navbar-background-color: #333333;
  --ifm-footer-background-color: #333333;
}

[data-theme='dark'] .hero--primary {
  background-color: #014347;
  color: white;
}